@use "mixins" as m;

html,
body {
  margin: 0%;
  background-color: rgb(136, 110, 216);
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__second {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

h1 {
  font-size: 40px;
  color: white;
  display: flex;
  justify-content: center;

  @include m.tablet {
    font-size: 50px;
  }
}

#inputField {
  width: 100%;

  @include m.tablet {
    font-size: x-large;
  }
}

.ulTag {
  display: flex;
  flex-direction: column;
  justify-items: center;
  list-style-type: none;
}

li {
  display: flex;
  text-align: end;
  font-size: 110%;
  border-radius: 1;
  background-color: rgb(184, 156, 228);
  color: rgb(255, 255, 255);
  width: 100%;

  &:hover {
    background-color: rgb(184, 182, 182);
  }

  @include m.tablet {
    font-size: xx-large;
  }
}

//denna styling sker när man bockar checklistan
.li-style {
  background-color: rgb(151, 208, 151);
  text-decoration: line-through;
}
