html,
body {
  background-color: rgb(255, 249, 172);
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
}

.firstUl {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
}

.secondDiv {
  display: flex;
  flex-direction: column;
}

#inputField {
  font-size: 50px;
}

#addToDo {
  font-size: 50px;
}

.paragraph-styling {
  font-size: 50px;
}

.liTag {
  font-size: 40px;
}

.liTagSecond {
  font-size: 40px;
}

.styling {
  background-color: rgb(151, 208, 151);
  text-decoration: line-through;
}
