html,
body {
  background-color: rgb(136, 110, 216);
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 50%;
  border: 5px solid lightblue;
  background-color: lightblue;

  &__second {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

h1 {
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
}

#inputField {
  font-size: 50px;
}

#addToDo {
  font-size: 50px;
}

.ulTag {
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: row;
  font-size: 50px;
  // border: 1px solid rgb(255, 159, 159);
  border-radius: 1;
  background-color: rgb(184, 156, 228);
  color: azure;
}

.liTag {
  list-style-type: none;
  color: green;
}

.li-style {
  background-color: rgb(151, 208, 151);
  text-decoration: line-through;
}

.checkbox-style {
  //funkar ej
  font-size: 50px;
}

.checkbox {
  display: flex;
  align-items: left;
  // height: 40px;
  width: 50px;
}
